// Mixins in here

.border {
    border: 3px solid red;
}



// .buttonDecoration (@justifty, @align) {
// 	font-size: 1.5rem;
//     background-color: teal;
//     color: white;
//     padding: @buttonPadding;
//     border-radius: 1rem;
//     justify: @justifty;
//     align: @align;
    


// }

.buttonDecoration {
    border-radius: 1rem;
    width: 80%;
    height: 3.5rem;
    font-size: 1.7rem;
    padding: 1rem 1rem 2em 5rem;
    background-color: teal;
    color: white;
    border: 1px solid @silver;
    
    

    }
  