// Navigation Styles here



.fun-nav {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
    border-bottom: 2px dashed lightgray;

    
        @media @mobile {
            width: 100%;
            //padding: 20px;
            
    }



        nav  {
        
            font-size: 1.8rem;
            padding-top: 3rem;
            padding-bottom: 20px;
            padding-right: 19rem;
            
            
        }

        nav a {
            color: rgb(48, 47, 47);
            padding-right: 3rem;
            
            
            @media @mobile {
                width: 100%;
                padding: 20px;
                //justify-content: space-around;
                align-items: flex-end;
            }
        }
        
        

        .bus-nav-tag {
            padding-left: 21rem;

            @media @mobile {
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                
    
           }
            
        }

        


    }       
        



