// Navigation Styles here



.fun-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .border();




        nav  {
        
            font-size: 1.8rem;
            padding-top: 3rem;
            padding-bottom: 20px;
            
        }

        nav a {
            justify-content: space-evenly;
            color: rgb(48, 47, 47);
            //.border();
            padding-right: 3rem;
        }

}



